@import "../base/var.scss";

.btn-notify {
	position: relative;
	width: 1.8125rem;
	height: 1.8125rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&.active {
		svg {
			fill: $accent;
		}
	}
}
.label-num{
	position: absolute;
	font-size: remy(11);
	letter-spacing: remy(0.012);
	color: $white;
	top: 0;
	right: 0;
	font-weight: 600;
	border-radius: 50%;
	z-index: 2;
	color: #fff;
	min-width: 0.875rem;
	height: 0.875rem;
	background-color: $red;
	display: flex;
	justify-content: center;
	align-items: center;

}
/******monitoring*********/
.header{
	background-color: $bodyBg;
	min-height: remy(48);
	padding-block: remy(12);
	.h1{text-align: center;}
}

.header-sticky, .header-shadow{
	position: sticky;
	top:0;
	z-index: 5;
}
.header-shadow{
	border-radius: 0 0 remy(16) remy(16);
	box-shadow: $bsh;
	background-color: #fff;
	
}
.header-shadow .header-content{display: flex;
	align-items: center; column-gap: remy(16)}
.header-content{position: relative;}

.header-content__abs{
	position: absolute;
	right: 0;
	top:-3px;
	
	z-index: 10;
}