//========== footer ==========
footer.nav-menu-panel
	nav.nav-menu
		a.active(href="index.html")
			svg.svg-monitoring
				use(href="./img/spriteSvg.svg#svg-monitoring")
			span Мониторинг
		a(href="current-task-page.html")
			svg.svg-task
				use(href="./img/spriteSvg.svg#svg-task")
			span Текущ задача
		a(href="rating-page.html")
			svg.svg-rating
				use(href="./img/spriteSvg.svg#svg-rating")
			span Рейтинг
		a(href="profile-page.html")
			svg.svg-profile
				use(href="./img/spriteSvg.svg#svg-profile")
			span Профиль