@import "var.scss";

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'sf pro display';
	font-display: swap;
	src: url("../fonts/sf-pro-display.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@function remy($pxsize) {
	@return calc(($pxsize/16))+rem;
}

*, *:after, *:before {
	box-sizing: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: $text;
	font-family: $font, sans-serif;
	background-color: $bodyBg;
	font-size: 16px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
  }
  .lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  }
  
 a{display: inline-block;}
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p , a, span, button, input{
	padding: 0;
	margin: 0;
	letter-spacing: 0.001em;
  }
  
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: cover;
  }
  *{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
  }
  input,
  button, button:focus, input:focus {
	outline: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
  }
  input{
	font-family: inherit;
	font-size: inherit;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 
  box-shadow: 0 0 0px 1000px #ffffff inset;
 
}
main{
	padding-bottom: remy(106);
}
.container{
	width: 100%;
	max-width: remy(375);
	padding-inline: remy(16);
	margin: 0 auto;
}
.pos-rel{position: relative;}
.flex-column{
	display: flex;
	flex-direction: column;
	&>*{width: 100%;}

}
.base-list{
	a {
		display: flex;
		align-items: center;
		column-gap: remy(8);
		padding: remy(20) remy(20) remy(19);
		border-top: 1px solid $lightGrey;
		color: $text;
	}
	a.active{color: $accent;}
}
.box-shadow{
	border-radius: 1rem 1rem 0 0;
	background-color: $bgColor;
	box-shadow: $bsh;
}