@import "var.scss";
.btn,.btn-outline, .btn-grey {
	font-size: 1rem;
	font-weight: 600;
	padding: 0 remy(10);
	height: remy(48);
    line-height: remy(44);
	border: remy(2) solid $accent;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: remy(12);
	border-radius: remy(48);
	width: 100%;
	transition: .3s;
	white-space: nowrap;
	color: white;
	background-color: $accent;
	svg {
		color: inherit;
	}
	&:hover{
		background-color: lighten($accent, 10%);
	}

}
.btn-outline{
	background-color: transparent;
	color: $accent;
	&:hover{background-color:darken($bodyBg, 10%)}
}
.btn-grey{
	border-color:#EFEFEF;
	background-color: #EFEFEF;
	color: rgba(54,54,54, .5);
}
.btn-cancel{
	color: $red;
}
.btn-round, .btn-round-white{
	width: remy(38);
	height: remy(38);
	border-radius: 50%;
	flex-shrink: 0;
	background-color: $accent;
	background-size: remy(24);
	transition: .3s; 
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover{
		background-color: lighten($accent, 10%);
	}
}
.btn-round-white{
  background-color: white;
	&:hover {
		cursor:default;
		background-color: white;
	}
}
.btn-back{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M15 5L9 12L15 19' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.search-btn{
	display: inline-block;
	width: remy(40);
	height: remy(40);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3e%3cpath d='M8.70833 15.0417C12.2061 15.0417 15.0417 12.2061 15.0417 8.70833C15.0417 5.21053 12.2061 2.375 8.70833 2.375C5.21053 2.375 2.375 5.21053 2.375 8.70833C2.375 12.2061 5.21053 15.0417 8.70833 15.0417Z' stroke='%23272727' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16.6254 16.6249L13.1816 13.1812' stroke='%23272727' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
	background-size: remy(19);
}