@import "var.scss";
svg.svg-monitoring,
svg.svg-task,
svg.svg-rating,
svg.svg-profile{
	width: remy(32);
	height: remy(32);
	color: $dark;
	transition: .3s; 
	
}
.svg-chevron{
	width: remy(24);
	height: remy(24);
	color: $accent;
}
.svg-exit{
	width: remy(19);
	height: remy(19);
	color: $red;
}
