@import "../base/var.scss";
.monitoring-main{
	padding-top: remy(8);
	background-color: $bodyBg;
	.tabs-menu{
		position: sticky;
		top:remy(48);
		background-color:$bodyBg;
		z-index: 4;
	}
}
.monitoring-tabs>*+* {
	margin-top: remy(20)
}