@import "../base/var.scss";
.single-task-location{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	height: calc(100vh - 5rem);
	z-index: 5;
	overflow: hidden;
	
}
.custom-container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: remy(375);
	.fix-header{
		padding-inline:1rem ;
		position: absolute;
		top: 0;
		left: 0;
		height: remy(48);
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: remy(12);
		*{flex-shrink: 0;}
		p{flex-shrink: 1; flex-grow:1;}
		
	}
}

.single-task-map {

	background-size: cover;
	height: calc(100vh - remy(90));

}
.single-task-details {
	position: absolute;
	padding: remy(24) remy(16) 4.25rem;
	transition: .3s; 
	bottom: 0;
	z-index: 2;
	transform: translateY(calc(100% - ((100vh - 100dvh) + remy(180))));
	&>*+* {
		margin-top: 1rem;
	}
}
.visible-details{
	
	&>*+* {
			margin-top: 1rem;
		}
}
.hide-details{
	max-height: calc(100vh - 350px);
	max-height: 390px;
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	padding-bottom: remy(24);
	&::-webkit-scrollbar{display: none;}
	margin-top: remy(28);
}
.hide-details__open{
	position: absolute;
	height: remy(24);
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.hide-details__open:before{
	content: '';
	position: absolute;
	height: remy(5);
	width: remy(60);
	border-radius: remy(10);
	top: remy(8);
	left: 50%;
	transform: translateX(-50%);
	background-color: $greyBorder;
}
.hide-details__close{
	display: flex;
	align-items: center;
	justify-content: center;
	color: $txtGrey;
	position: relative;
	
	// &:after{
	// 	content: '';
	// 	height: .5px;
	// 	background-color: $txtGrey;
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	top:50%;
	// 	transform: translateY(-50%);
	// }
	p{padding-inline: remy(4); 
		background-color: #fff;
		position: relative;
		z-index: 2;

	}
	svg{
		color: inherit;
		transform: rotate(-90deg);
		background-color: #fff;
		position: relative;
		width: remy(24);
		height: remy(24);
		object-fit: contain;
		z-index: 2;
		
		margin-top: 0;
	}
	
}
.toggle-class.open .single-task-details{
	transform: translateY(0);
}
.fixed-bottom{
	width: remy(345);
	background-color: #F9F9F9;
	position: fixed;
	padding-bottom: remy(20);
	bottom: remy(90);
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.pb-110{
	padding-bottom: remy(110)!important;
}
.task-description.modal-frame-wrapper{
	.modal-frame{
		width: remy(360);
	}
	.modal-frame .icon-close{
		top: .5rem;
		right:.5rem;
	}
}