extends ../layouts/layout.pug

block content
	header.header.header-sticky
		.container
			.header-content
				h1.h1 Профиль
				.header-content__abs
					a(href="notifications.html").btn-notify
						span.label-num 3
						svg.svg-notify
							use(href="./img/spriteSvg.svg#svg-notify")

	main.profile-main
		.container
			//========= данные юзера  ========= 
			.simple-card.user-card
				.flex-between
					.title-20 Иван Иванов
					a(href="profile-settings.html")
						svg.svg-settings
							use(href="./img/spriteSvg.svg#svg-settings")
				
				.profile-skills
					p Специализация
				.profile-id ID: 135643
			
			//======== Местоположение ========
			a(href="profile-location.html").simple-card.user-location
				.flex-between
					.user-location__content
						svg.svg-pin
							use(href="./img/spriteSvg.svg#svg-pin")
						.user-location__input
							input(type="text" readonly value="Московская область")
					
					span.link-right.link-right--big

			//======== Уведомления  ========
			a(href="profile-notice.html").simple-card.user-notice
				.flex-between
					.user-location__content
						svg.svg-notify
							use(href="./img/spriteSvg.svg#svg-notify")
						p Настройка уведомлений
					
					span.link-right.link-right--big
	
	//============= FOOTER =============
	footer.nav-menu-panel
		nav.nav-menu
			a(href="index.html")
				svg.svg-monitoring
					use(href="./img/spriteSvg.svg#svg-monitoring")
				span Мониторинг
			a(href="current-task-page.html")
				svg.svg-task
					use(href="./img/spriteSvg.svg#svg-task")
				span Текущ задача
			a(href="rating-page.html")
				svg.svg-rating
					use(href="./img/spriteSvg.svg#svg-rating")
				span Рейтинг
			a.active(href="profile-page.html")
				svg.svg-profile
					use(href="./img/spriteSvg.svg#svg-profile")
				span Профиль

block variables
	-var title = "Профиль пользователя";