extends ../layouts/layout.pug

block content
	header.header.header-sticky
		.container
			.header-content
				h1.h1 Производительность
				.header-content__abs
					a(href="notifications.html").btn-notify
						span.label-num 3
						svg.svg-notify
							use(href="./img/spriteSvg.svg#svg-notify")

	main.rating-main
		.container
			.rating-main__content
				.rating-progress
					+circle-progress-big(89)
				.rating-value
					p Рейтинг
					span 8.9/10
	
				//====== diagram card ==========
				.diagram-card
					.flex-between
						.title-20 Статистика
						
						//======== DROP-FILTER =======
						.drop-filter.custom-drop.drop-filter-period
							.custom-drop__input
								input(type="text" readonly value="Весь период")
							
							.custom-drop__list
								ul
									li.custom-drop__item
										a(href="#!") Весь период

									li.custom-drop__item
										a(href="#!") Год
									li.custom-drop__item
										a(href="#!") Полугодие
									li.custom-drop__item
										a(href="#!") Квартал
									li.custom-drop__item
										a(href="#!") Месяц
									li.custom-drop__item
										a(href="#!") Неделя
					
					.diagram-card__chart
						.chart-label
							p 10034 заказов выполнено
							span 02 окт. - 2 ноя.

						img(src="./img/chart.webp", alt="alt")
	
					.productivity-card__group
						.productivity-card.productivity-card--mini
							+circle-progress-medium(98)
							p Выполнено вовремя
						.productivity-card.productivity-card--mini
							+circle-progress-medium(35)
							p Повторных заказов
					
					.productivity-list
						ul
							li
								span Кол-во выполненных заказов:
								span.txt-accent 41

							li
								span Всего заработано: 
								span.txt-accent 804 674 ₽
							li
								span Средний заработок (мес.):
								span.txt-accent  68 674 ₽

							li
								span Средний заработок (год.):
								span.txt-accent 804 674 ₽
							li
								span Дней отработано:
								span.txt-accent 365

							li
								span Сред. кол-во заказов в мес.:
								span.txt-accent  5
							li
								span Сред. кол-во заказов в год: 
								span.txt-accent  50
	//============= FOOTER =============
	footer.nav-menu-panel
		nav.nav-menu
			a(href="monitoring.html")
				svg.svg-monitoring
					use(href="./img/spriteSvg.svg#svg-monitoring")
				span Мониторинг
			a(href="current-task-page.html")
				svg.svg-task
					use(href="./img/spriteSvg.svg#svg-task")
				span Текущ задача
			a.active(href="rating-page.html")
				svg.svg-rating
					use(href="./img/spriteSvg.svg#svg-rating")
				span Рейтинг
			a(href="profile-page.html")
				svg.svg-profile
					use(href="./img/spriteSvg.svg#svg-profile")
				span Профиль
	script.
		document.addEventListener("DOMContentLoaded", function () {
			/************круговой прогресс бар************* */
			const donuts = document.querySelectorAll(".loading-donut");
			if (donuts.length > 0) {
				function updateProgress() {
					donuts.forEach(donut => {
						const donutSegment = donut.querySelector(".donut-segment");
						const progressValue = +donut.getAttribute('data-progress') || 0;
						const circumference = 2 * Math.PI * parseFloat(donutSegment.getAttribute("r"));

						const progressOffset = (100 - progressValue) / 100 * circumference;
						donutSegment.style.strokeDasharray = `${circumference} ${circumference}`;
						donutSegment.style.strokeDashoffset = progressOffset;

						donut.dataset.progress = progressValue; // Update data attribute
					});
				};
				//- Invoke update progress
				updateProgress();
			}
		});

block variables
	-var title = "Рейтинг";
