extends ../layouts/layout.pug

block content
	header.header.header-sticky
		.container
			.header-content
				a(href="monitoring.html").link-left Назад
				.header-content__abs
					a(href="notifications.html").btn-notify
						span.label-num 3
						svg.svg-notify
							use(href="./img/spriteSvg.svg#svg-notify")

	main.single-task-page
		.container
			.task-card
				.tc__header Название задачи, которе может переноситья на следующую строку, а потом и на ещё 1
				
				.tc__body
					.tc__state Статус: #[span в процессе]

					.tc__price Потенциальная оплата: #[span 20 000] ₽ 
					
					.tc__date
						.tc__cell Дата начало: #[span 08.10.23] в 
						.tc__cell Дата окончания: #[span 18.10.23] в #[span 19:00]

					.tc__time
						.time-start Время начала труд. дня: #[span  9:00] 
						.time-finish Время окончания  труд. дня: #[span 19:00]
					
					.tc__contractor Кол-во людей: #[span 6]
					
					.tc__requir Требования к форме: требуется, выдадут на месте
					.tc__location МО, г. Москва, Тверской рай-н Тверская, 1
					
					a(href="#!").link-right Показать на карте
				
				.tc__text Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
				
				.tc__notice Внимание! Осталось #[span 22 ч. 29 мин.] на принятие решения по заказу
                
				.tc__footer
					a(href="#!").link-right Чат с оператором
					a(href="single-task-page.html" ).btn Принять
					
					button.icon-link.btn-cancel
						span Отказаться
						span.cross-icon
	
	
	
	//========== footer ==========
	footer.nav-menu-panel
		nav.nav-menu
			a.active(href="#!")
				svg.svg-monitoring
					use(href="./img/spriteSvg.svg#svg-monitoring")
				span Мониторинг
			a(href="#!")
				svg.svg-task
					use(href="./img/spriteSvg.svg#svg-task")
				span Текущ задача
			a(href="#!")
				svg.svg-rating
					use(href="./img/spriteSvg.svg#svg-rating")
				span Рейтинг
			a(href="#!")
				svg.svg-profile
					use(href="./img/spriteSvg.svg#svg-profile")
				span Профиль


block variables
	-var title = "Задача. Подробнее";
